#root {
  /* max-width: 1880px; */
  width: 1880px;
  height: 720px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

/* 
 @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}  */


.read-the-docs {
  color: #888;
}
/* //////////////// register ///////////////////////////////////// */

.form-label{
  font-weight: 600;
}

/*                             Item CSS                                   */
.item-card {
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.image-container {
  overflow: hidden;
  width: 18rem;
  height: 14rem;
}

.item-image {
  transition: transform 0.3s ease-in-out;
  max-width: 10rem;
  max-height: 14rem;
  object-fit: cover;
}

.item-card:hover .item-image {
  transform: scale(0.9); 
}

/*                             Accordion                                   */

/* Remove blue hover/focus effect from the accordion button */
.accordion-button:focus {
  box-shadow: none;
  outline: none;
}

.accordion-button:active {
  background-color: #f8f9fa; /* Optional: Change background color when active */
}
